@page "/order"

@inject HandlerService handlerService
@inject NavigationManager navigationManager
@inject AuthState authState
@inject IOrderApi OrderApi
<SectionContent SectionName="pageTitle">My Orders</SectionContent>
<div class="img-container py-2">
    <div class="row">
        @if (_orders.Length == 0)
        {
            <div class="col-10 mx-auto">
                <div class="d-flex flex-column gap-2 justify-content-center align-items-center mt-5 py-5">
                    <img src="vegetables_basket.png"alt="Empty Cart" style="width:200px;height:200px;" />

                    <label class="h4 text-muted mt-3">No orders yet</label>
                    <NavLink class="btn btn-app mt-3" href="/">View Products</NavLink>
                </div>
            </div>
        }else{
            <div class="col-12">
                <ul class="list-unstyled">
                    @foreach (var o in _orders)
                    {
                        <li class="border-bottom mb-3 bg-white p-3"  @onclick="()=>ViewOrderDetails(o.Id)">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="order-info flex-grow-1">
                                    <label class="d-flex align-items-start gap-2">
                                            <span class="h4 text-app-primary fw-bold">#@o.Id</span> 
                                            <span class="badge rounded-pill @o.StatusColorClass">@o.Status</span>
                                        </label>
                                        <label class="d-block">@o.Date.ToString("dd-MMM-yyyy hh:mm tt")</label>
                                        <hr style="margin:8px 0;"/>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <label class="fw-bold">Total Amount: @o.TotalAmount.ToString("c")</label>
                                            <label class="d-block text-secondary">Total Items: @o.TotalItems</label>
                                        </div>
                                        <button type="button" class="btn-app" @onclick="()=>ViewOrderDetails(o.Id)">Order Info</button>
                                    </div>

                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

@code {
    private OrderDto[] _orders = [];

    protected override async Task OnInitializedAsync()
    {
        if (!authState.IsLoggedIn)
        {
            if (await MauiInterop.ConfirAsync("You need to be logged-in to view your orders. Do you want to go to login page", "Login Required"))
            {
                authState.RedirectUrlFromLogin = "/order";
                navigationManager.NavigateTo("/login", replace: true);

            }
            return;
        }
        await LoadOrdersAsync();
    }
    private async Task LoadOrdersAsync()
    {
        await handlerService.CallApiAsync(async () =>
        {
            _orders = await OrderApi.GetUserOrdersAsync(authState.User.Id,0,50);
        });
    }

    private void ViewOrderDetails(int orderId)
    {
        navigationManager.NavigateTo($"/orderdetails/{orderId}");
    }
}
